
.header {
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
  margin: 20px auto;  
  margin-bottom: 200px;
  width: 95%;
  height: 95vh;
  /* height: 75vh; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.header_messages {
  /* padding: 50px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.header__main_heading {
  /* margin-top: 100px; */
  font-size: 100px;
}

.header_message {
  /* margin-top: 40px; */
  font-size: 40px;
  /* text-align: center; */
}


@media(max-width: 1024px) {
  .header__main_heading {  
    /* margin-top: 20px;   */
    font-size: 80px;
  }
  

  .header_message {    
    /* margin-top: 10px; */
    font-size: 32px;
  }
  
}

@media(max-width: 768px) {
  .header {
    box-shadow: 0 0 4px 4px hsl(0, 0%, 80%);
    /* width: 6%; */
  }  

  .header_messages {
    padding: 20px;
  }
  
  .header__main_heading {  
    /* margin-top: 20px;   */
    font-size: 40px;
  }
  

  .header_message {    
    /* margin-top: 10px; */
    font-size: 18px;
  }
  

}


@media(max-width: 425px) {
}



@media(max-width: 375px) {
  .header {
    box-shadow: 0 0 4px 4px hsl(0, 0%, 80%);
  }  

  .header_messages {
    padding: 20px;
  }

  .header__main_heading {  
    /* margin-top: 20px;   */
    font-size: 24px;
  }
  

  .header_message {    
    /* margin-top: 10px; */
    font-size: 8px;
  }
  

}