
.header {
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
  margin: 2vh 0;  
  width: 95%;
  height: 95vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__main_heading {  
  font-size: 120px;
}


.header_message {
  /* margin-top: 40px; */
  line-height: 2;
  font-size: 40px;
  /* text-align: center; */
}


@media(max-width: 1024px) {
  .header__main_heading {  
    /* margin-top: 20px;   */
    font-size: 80px;
  }
  

  .header_message {    
    /* margin-top: 10px; */
    font-size: 32px;
  }
  
}

@media(max-width: 768px) {
  .header {

  }  

  .header_messages {
    padding: 20px;
  }
  
  .header__main_heading {  
    /* margin-top: 20px;   */
    font-size: 40px;
  }
  

  .header_message {    
    /* margin-top: 10px; */
    font-size: 18px;
  }
  

}


@media(max-width: 425px) {
  .header {
    margin: 10vh 0;
  }  
}



@media(max-width: 375px) {
  .header {
    box-shadow: 0 0 4px 4px hsl(0, 0%, 80%);
  }  

  .header_messages {
    padding: 20px;
  }

  .header__main_heading {  
    /* margin-top: 20px;   */
    font-size: 24px;
  }
  

  .header_message {    
    /* margin-top: 10px; */
    font-size: 8px;
  }
  

}