.Home {
  width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center; 

}

.footer {
  margin: 0 auto;  
  margin-top: 100px;
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
  /* border-radius: 8px; */
  padding-bottom: 200px;
  width: 95%;
  /* height: 100vh; */
  /* max-height: 600px; */

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  overflow: scroll;


}




.footer__heading_container {
  z-index: 10;
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
  /* flex: 1; */
  padding: 100px 20px; 
  width: 100%;
  height: 100px; 
  background-color: #000;

  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.footer__heading {
  /* margin-left: 20px; */ 
  width: 90%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  font-size: 80px;
  /* color: #000; */
  color: #fff;
  letter-spacing: 20px;

  text-align: center;
}


.image_source__heading {  
  /* width: 110%; */
/*   
  background-position: center;
  background-size: cover;
  background-attachment: fixed; */
  margin-top: 0px;
  padding: 20px 20px; 

  font-size: 24px;
  color: #fff;
  letter-spacing: 20px;

  text-align: center;
}



.footer__item {
  /* z-index: 10; */
  margin-top: 40px;
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
  padding: 20px 0;
  width: 90%;
  height: 80%;
  /* max-height: 300px; */
  /* background-color: #000; */
  /* color: #fff;  */
  /* background-color: transparent; */
  color: #000;

  /* overflow: scroll; */
  transition: all .4s ease;
}

.footer__item:hover {
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
}


/**** .contact ****/

.contact {  
  padding: 20px 0; 
  width: 90%;
  /* height: 800px; */
  overflow: scroll; 

  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}


.contact__title {
  margin-top: 14px;
  font-size: 24px;
}


.contact__item_container {
  margin-top: 20px;
  /* padding: 20px 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact__item {
  margin: 0px;
  padding: 10px;
  width: 200px;
  height: 60px;

  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: #000;

  transition: all .4s ease;
}

.contact__item:hover {
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
}


.contact__item_name {
  text-align: center;
  font-size: 14px;
  color: #000;
}

.contact__item_name.resume  a {
  text-decoration: none;
  color: #000;
}

.contact__item i {
  margin-top: 4px;
  font-size: 40px;
  color: hsl(0, 0%, 60%);

  transition: all .4s ease;
}

.contact__item i:hover {
  color: hsl(0, 0%, 0%);
}


.contact__item.github i:hover {
  color: #4078c0;
}
.contact__item.linkedin i:hover {
  color: #0077b5;
}





/*** .image_source ***/
.image_source__heading {
  font-size: 24px;
  color: #000;
}


.image_source__items {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image_source__items {
  display: flex;
  align-items: center;
}


.image_source__item {
  padding: 10px 20px;
  width: 200px;
  /* height: 100%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-position: bottom;
    /* Enables Moving BG and Stop in tweet point with Animation */
  text-decoration: none;
  font-size: 18px;
  color: #000000;

  text-align: center;

  transition: all .4s ease;
}


.image_source__item:hover {
  /* height: 200px; */
  box-shadow: 0 0 10px 10px hsl(0, 1%, 80%);
  /* box-shadow: 0 0 10px 10px hsl(0, 1%, 20%); */

  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  
}

.image_source__item.about_me:hover {
  background-color: hsl(100, 50%, 50%);
  background-image: url('https://images.unsplash.com/photo-1465809873722-b4bf7208d2b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=942&q=80');
  background-position: top;
  /* background-position: 70%; */
}


.image_source__item.skill:hover {  
  background-color: hsl(0, 50%, 50%);
  background-image: url('https://images.unsplash.com/photo-1475873326779-99eac8da25b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=933&q=80');
}


.image_source__item.portfolio:hover {
  background-color: hsl(200, 50%, 50%);
  background-image: url('https://images.unsplash.com/photo-1529444161959-5690000911bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
}



/* .scroll_up */
.scroll_up {
  z-index: 200;
  position: absolute;
  left: 15px;
  bottom: 30px;

  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.scroll_up__icon {

  font-size: 40px;
  color: #000;
  opacity: .6;
  transition: all .4s ease;
}

.scroll_up__icon:hover {
  opacity: 1;
  /* box-shadow:  0 0 10px 10px hsl(0, 0%, 40%); */
  /* text-shadow: 0 */

  cursor: pointer;
}




@media(max-width: 1024px) {
  .footer {
    margin-top: 200px;   
  }
  .footer__heading_container {
    padding: 50px 20px; 
  }

  .footer__heading { 
    font-size: 50px;
    letter-spacing: 8px;
  }


  .footer__item {
    margin-top: 30px;
    padding: 20px;
  }


  .contact__item {
    margin: 4px;
    padding: 8px;
    width: 150px;
    height: 50px;
  }

  .contact__item:hover {
    box-shadow: 0 0 4px 4px hsl(0, 0%, 80%);
  }


  .contact__item_name {
    text-align: center;
    font-size: 14px;
    color: #000;
  }


  .contact__item i {
    font-size: 32px;

  }


  .image_source__heading {
    margin-top: 0;
    padding: 0;
    width: 100%;
  }

}

@media(max-width: 768px) {
  .footer__heading_container {
    padding: 30px 10px; 
  }

  .footer__heading {  
    font-size: 32px;
    letter-spacing: 4px;
  }


  .footer__item {
    margin-top: 20px;
    padding: 20px 0;
    height: 200px;    
    min-height: 320px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }


  .contact {
    margin-top: 20px;
    padding: 20px 0; 
    /* flex-direction: column; */
    /* height: 00px; */
    overflow: scroll;
  }

  .contact__item {
    margin: 8px;
    padding: 8px;
    width: 200px;
    height: 30px;

  }


  .contact__item_name {
    font-size: 12px;
  }


  .contact__item i {
    font-size: 24px;

  }


  .image_source__heading {
    /* margin-top: -20px; */
    font-size: 24px; 
  }

  .image_source__items {
    margin-top: 0;
    
    padding: 20px 0;   
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: scroll;
  }
  
  
  .image_source__item {
    margin-top: 12px;
    padding: 4px 14px;
    width: 200px;
    font-size: 12px;    
  }

  .scroll_up {
    font-size: 8px;
  }

  .scroll_up__icon {
    font-size: 30px;
  }


}


@media(max-width: 425px) {
  .footer {
    margin-top: 30px;   
  }

  .footer__item {
    /* margin-top: 40px; */
    padding: 10px 0;
    min-height: 150px;
    overflow: scroll;
  }  

  /* *** */

  .contact {
    /* margin-top: 40px;  */
    height: 300px;
  }

  .contact__title {
    /* margin-top: 120px; */
    font-size: 14px;
  }

  

  .contact__item {
    margin: 8px;
    padding: 4px;
    /* width: 100px; */
    height: 30px;

  }

  .contact__item:hover {
    box-shadow: 0 0 4px 4px hsl(0, 0%, 80%);
  }


  .contact__item_name {
    font-size: 8px;
  }


  .contact__item i {
    font-size: 12px;

  }


  .image_source__heading {
    margin-top: 0;
  }

  /* *** */

  .image_source__heading {
    margin-top: 0;
    font-size: 14px; 
  }


  .image_source__item {
    margin-top: 18px;
    padding: 4px 8px;
    width: 150px;
    font-size: 8px;    
  }


  .scroll_up {
    font-size: 8px;
    bottom: 14px;
  }

  .scroll_up__icon {
    font-size: 15px;
  }


}


@media(max-width: 375px) {
  .scroll_up {    
    bottom: 10px;
  }

}