

.about_me_contents {
  padding: 80px 20px;
  /* height: 800px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;

}


.intro_heading {  
  margin-top: 40px;
  /* min-width: 250px; */
  /* text-align: center; */
  line-height: 2;
  font-size: 32px;
}

 /* Individual to each of Introduciton and Contact */
.intro_message {
  /* flex-grow: 2; */
  margin-top: 40px;
  /* padding-left: 160px; */
  width: 100%;

  text-align: center;
  line-height: 2;
  letter-spacing: 8px;
  font-size: 18px;
}


.profile_image {  

  box-shadow: 0 0 10px 10px hsla(0, 0%, 80%);
  /* padding: 20px; */
  width: 250px;
  height: 250px;
  background-color: red;
  /* background-image: url('../../assets/profile_image_side_edit.jpeg'); */
  /* background-image: url('../../../assets/profile_image_side_edit.jpeg'); */
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  /* backdrop-filter: blur(200px); */
  opacity: .4;

  transition: all .4s ease;
}

.profile_image:hover {
  opacity: 1;
}



@media(max-width: 1115px) {
  .intro_message {
    padding-left: 100px;
    
  }
  
  
  .profile_image {  
    right: 80px;
    width: 200px;
    height: 200px;
    
}

}

@media(max-width: 1024px) {
 
  .intro_heading {
    font-size: 32px;
  }

  .intro_message {
    padding-left: 60px;
    font-size: 16px;
  }

  .profile_image {   
    right: 40px;   
    width: 180px;
    height: 180px;
  }



}

@media(max-width: 768px) {
  .about_me {
    padding: 40px 10px;
  }


  .intro_heading {
    margin-top: 20px;    
    font-size: 24px;
  }

  .intro_message {
    margin-top: 20px;    
    padding-left: 20px;
    /* min-width: 400px; */
  }

  .profile_image { 
    box-shadow: 0 0 4px 4px hsla(0, 0%, 80%);
    width: 150px;
    height: 150px;
    
  }



}


@media(max-width: 425px) {  

  #about_me_contents {
    /* position: relative; */
  }


  
  .intro_heading { 
    font-size: 20px;
  }

  .intro_message {
    padding-left: 10px;
    font-size: 12px;
  }


  .profile_image {      
    box-shadow: 0 0 4px 4px hsla(0, 0%, 80%);
    width: 120px;
    height: 120px;
    
  }




}


@media(max-width: 375px) {
  .intro_heading {
    margin-top: 10px;    
    line-height: 2;
    font-size: 18px;
  }

  .intro_message {
    margin-top: 10px;    
    /* min-width: 270px; */
  }

  .profile_image {    
    width: 100px;
    height: 100px;
  }  


}

@media(max-width: 325px) {
  .intro_heading {
    /* width: 300px; */
    font-size: 16px;
  }
/* 
  .bigger {
    font-size: 20px;
    line-break: strict;
  } */

  .intro_message {
    /* margin-top: 38px; */
    /* min-width: 270px; */
    /* font-size: 12px; */
  }

  .profile_image {  
    width: 80px;
    height: 80px;
  }  
}