#flyoutMenu {
  position: fixed;
  bottom: 0vh;
  left: 0vw;

  z-index: 100;

  width: 100vw;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsla(0, 0%, 100%, 0.8);
  color: #000;

  transition: 
    transform .4s cubic-bezier(0, 10, 0, 0), 
    background-color 1s ease;


  overflow: scroll;

  

}

#flyoutMenu:hover {
  background-color: hsla(0, 0%, 100%, 1);
}
 
#flyoutMenu.hide {
  transform: translate3d(-100%, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0, 0, 0);
  /* overflow: hidden; */
}
 
#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

@media(max-width: 1024px) {
 
}

@media(max-width: 768px) {

  #flyoutMenu {
    padding: 20px 0;
    /* height: 40vh; */
  }  

}

@media(max-width: 425px) {
  #flyoutMenu {
    /* height: 40vh; */
  }  

}


@media(max-width: 375px) {
  
}