#flyoutMenu {
  padding: 20px 0;
  /* width: 100vw; */
  width: 100vw;
  /* height: 100px; */
  /* height: 15vh; */
  background-color: hsla(0, 0%, 100%, 0.8);
  position: fixed;
  /* top: 0; */
  bottom: 0vh;
  left: 0vw;
  transition: transform .3s
              cubic-bezier(0, .52, 0, 1);
  
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: scroll;
  /* z-index: 1000; */
  z-index: 100;

  color: #000;

  transition: all .4s ease;

}

#flyoutMenu:hover{
  background-color: hsla(0, 0%, 100%, 1);
}
 
#flyoutMenu.hide {
  transform: translate3d(-100%, 0, 0);
}
 
#flyoutMenu.show {
  transform: translate3d(0, 0, 0);
  /* overflow: hidden; */
}
 
#flyoutMenu h2 a {
  color: #333;
  margin-left: 15px;
  text-decoration: none;
}
 
#flyoutMenu h2 a:hover {
  text-decoration: underline;
}

@media(max-width: 1024px) {
 
}

@media(max-width: 768px) {

  #flyoutMenu {
    padding: 10px 0;
    height: 150px;
  }  

}

@media(max-width: 425px) {
  #flyoutMenu {
    padding: 10px 0;
    height: 150px;
    overflow: scroll;
  }  

}


@media(max-width: 375px) {
  
}