/* (Font Size) */
/* .user_story__text, .dev_story__text =. portfolio_data__title
 */
/* .portfolio_list__title = .portfolio__heading */

/* #portfolio {
  background-color: hsl(200, 100%, 30%);
  background-image: url('https://images.unsplash.com/photo-1529444161959-5690000911bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */

/* (Styles/List) */
/* Display the Title of the Next Portfolio */
/* => Manipulate .portfolio_list__background, max-height */

.portfolio_contents {
  /* margin-bottom: 70px; */
  padding: 100px 20px;
}



.portfolio_display {
  display: flex;
  /* flex-direction: column;  */
  /* flex-direction: row;  */
  justify-content: center;
}




.PortfolioList,
.PortfolioDesc {
  padding: 20px;
  height: 80%;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  overflow: hidden;

}


/* .PortfolioList */
.PortfolioList {
  padding: 0 30px;
  flex-basis: 40%;

  display: flex;
  justify-content: center;
}


.portfolio_list {
  /* border: 1px solid #fff; */
  padding: 20px;
  border: 1px solid #000  ;
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
  width: 90%;
  /* min-width: 600px; */


  /* background-color: beige; */
  
}

.portfolio_list__background {
  /* margin: 14px; */
  /* padding: 8px; */
  height: 90%;
  max-height: 600px;

  /* background-color: hsl(60, 100%, 96%); */

  overflow: scroll;

  display: flex;
  flex-direction: column;
  align-items: center;

}


.portfolio_list__item {
  margin: 4px;
  /* border-bottom: 1px solid #fff; */
  /* border-bottom: 1px solid #000;   */
  box-shadow: 0 0 1px 1px hsl(0, 0%, 80%);

  padding: 14px;
  /* padding-left: 8px; */
  width: 80%;
  /* text-align: center; */

  transition: all .4s ease;
}

.portfolio_list__item:hover {  
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 20%); */
  /* font-weight: bold; */
  
  cursor: pointer;
}

.portfolio_list__title,
.portfolio__heading {
  font-size: 24px;
  text-align: center;
}

.portfolio_data__item {
  height: 100%;
}

.portfolio_data__title {  
  font-size: 18px;
  margin: 12px 0;
  /* width: 100%;  */
}

.portfolio_skill__name,
.visit_url {
  margin-top: 4px;
  /* margin-left: 4px; */
  width: 200px; 
  /* width: 90%; */

  /* background-color: hsl(60, 32%, 45%); */
  font-size: 14px;
  color: #333;

  overflow: scroll;
}

.portfolio_skill__name {     
  /* background-color: hsl(60, 100%, 96%); */
  font-weight: bold;
}

.visit_url_container { 
  text-decoration: none;
  transition: all .4s ease;
}

.visit_url {  
  padding: 4px;
  transition: all .4s ease;
}

.visit_url:hover {  
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
  font-size: 14px;
  font-weight: 900;
}



/* .portfolio_data_container*/
.PortfolioDesc {
  flex-basis: 60%;
  height: 100%;
  min-height: 600px;

  overflow: scroll;
}


.portfolio__heading {
  padding: 0;
}


.explanation {
  width: 100%;
}

.user_story, 
.dev_story {
  /* text-align: center; */
}

.user_story__heading,
.dev_story__heading {
  margin-top: 16px;
  /* width: 100%; */

  /* text-align: center; */
  font-size: 18px;


}


.user_story__text,
.dev_story__text {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
}





.portfolio_image {
  margin: 0 auto;
  margin-top: 30px;
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
  /* width: 89%; */
  width: 500px;
  min-height: 290px;
  overflow: scroll;
}


.yellow_marker {
  background-color: hsl(60, 100%, 90%);
}


@media(max-width: 1024px) {
  .portfolio_display {
    padding: 40px 20px;
    flex-direction: column-reverse;
    
  }

  .PortfolioList,
  .PortfolioDesc {
    /* padding: 20px; */
    
  }
  .portfolio_list__title,
  .portfolio__heading {
    /* padding: 100px 20px;  */
    font-size: 24px;
  }

  .portfolio_list__background {
    max-height: 220px;
  }


  .portfolio_data__title {  
    font-size: 16px;
    margin-top: 12px;
  }

  .portfolio_skill__name,
  .visit_url {
    margin-top: 4px;
    margin-left: 8px;
    width: 100%; 

    font-size: 14px;

  }



}

@media(max-width: 768px) {

  #portfolio.section {
    margin-bottom: 0;
    padding: 0;
  }

  .section_contents {
    margin: 0;
    padding: 40px 20px;
  }

  .portfolio_display {
    padding: 0;
  }

  .portfolio_list {
    margin-bottom: 0;
    padding: 20px;
    
    /* overflow: hidden; */
  }

  .portfolio_list__background {
    max-height: 202px;
  }

  .portfolio_list__title {
    margin: 8px 0;
  }


  .PortfolioList {
    /* padding: 20px 0; */
  }

  .portfolio_display {
    
    flex-direction: column-reverse;
    
  }

  .portfolio_list__item {
  }


  .portfolio_data__title {  
    /* font-size: 18px; */
    margin-top: 4px;
  }


  
}


@media(max-width: 425px) {
  /* .portfolio_list,
  .explanation,
  .portfolio_image {
    margin-top: 0;
  } */
  .portfolio_list__title,
  .portfolio__heading {
    /* padding: 100px 20px;  */
    font-size: 24px;
  }

  .PortfolioList,
  .PortfolioDesc {
    padding: 8px;
  }

  .PortfolioList {
    padding-top: 8px;
    height: 300px;
  }

  .portfolio_list {
    width: 90%;
  }


  .portfolio_list__background {
    max-height: 193px;
  }
  .portfolio_data__title {  
    font-size: 16px;
    margin-top: 8px;
  }



  .portfolio_image {
    width: 300px;
    min-height: 175px;
  }



  .portfolio_skill__name,
  .visit_url {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 12px;

  }


  
  .PortfolioDesc {
    min-height: 400px;
  }


  .user_story__heading,
  .dev_story__heading { 
    margin-top: 12px;
    font-size: 16px;
  }

  .user_story__text,
  .dev_story__text {
    margin-top: 8px;
    font-size: 12px;
  }



}


@media(max-width: 375px) {
  

  .portfolio_display {
    padding-top: 20px;
  }

  .portfolio_list__title,
  .portfolio__heading {
    font-size: 18px;
  }

  .portfolio_data__title {  
    font-size: 16px;
    margin-top: 8px;
  }
  
  .portfolio_list__background {
    max-height: 195px;
  }


  .portfolio_data__title {  
    font-size: 14px;
  }


  .portfolio_skill__name,
  .visit_url {
    font-size: 10px;

  }

  
  .user_story__heading,
  .dev_story__heading { 
    font-size: 14px;
  }


  .portfolio_image {
    width: 250px;
    min-height: 145px;
  }

}


@media(max-width: 320px) {
  
  .portfolio_list__background {
    max-height: 225px;
  }



}