

.about_me_contents {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  /* position: relative; */

}

/**** .introduciton ****/

.introduciton {
  /* padding: 20px 40px; */
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.intro_message {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  text-shadow: 0 0 14px 14px hsla(0, 0%, 80%);
}

.intro_message__heading {
  min-width: 250px;
  /* text-align: center; */
  font-size: 32px;
}


.profile_image {
  flex: 1;
 }

 /* Individual to each of Introduciton and Contact */
.intro_message__p {
  line-height: 1.6;
  letter-spacing: 8px;
  font-size: 14px;
}


.profile_image {  

  box-shadow: 0 0 10px 10px hsla(0, 0%, 80%);
  width: 300px;
  height: 350px;
  background-image: url('../assets/profile_image_side_edit.jpeg');
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  /* backdrop-filter: blur(200px); */
  opacity: .8;

  transition: all .4s ease;
}

/* .profile_image:hover {
  z-index: 10;
  width: 200px;
  height: 200px;
  opacity: 1;
} */


/**** .contact ****/

.contact {  
  width: 90%;
  height: 200px;
  overflow: scroll;  
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}


.contact__item {
  margin: 10px;
  padding: 10px;
  width: 200px;
  height: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  text-decoration: none;
  color: #000;

  transition: all .4s ease;
}

.contact__item:hover {
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
}


.contact__item_name {
  font-size: 18px;
  color: #000;
}

.contact__item_name.resume  a {
  text-decoration: none;
  color: #000;
}

.contact__item i {
  /* margin-top: 4px; */
  font-size: 40px;
  color: hsl(0, 0%, 60%);

  transition: all .4s ease;
}

.contact__item i:hover {
  color: hsl(0, 0%, 0%);
}


.contact__item.github i:hover {
  color: #4078c0;
}
.contact__item.linkedin i:hover {
  color: #0077b5;
}


