

.about_me_contents {
  padding: 80px 0;
  /* height: 800px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  /* position: relative; */

}

/**** .introduciton ****/

.introduciton {
  /* padding: 20px 40px; */
  width: 80%;
  /* flex-grow: 2; */
  display: flex;
  justify-content: space-evenly;
}

.intro_message {
  flex: 2;
  /* flex-basis: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  text-shadow: 0 0 14px 14px hsla(0, 0%, 80%);
}

.intro_message__heading {
  min-width: 250px;
  /* text-align: center; */
  font-size: 32px;
}


 /* Individual to each of Introduciton and Contact */
.intro_message__p {
  line-height: 2;
  letter-spacing: 8px;
  font-size: 14px;
}


.profile_image {  
  /* flex-grow: 1; */
  box-shadow: 0 0 10px 10px hsla(0, 0%, 80%);
  /* padding: 20px; */
  width: 250px;
  height: 300px;
  background-image: url('../assets/profile_image_side_edit.jpeg');
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  /* backdrop-filter: blur(200px); */
  opacity: .8;

  transition: all .4s ease;
}








@media(max-width: 1024px) {
  .introduciton {
    width: 90%;
  }
  .intro_message__heading {
    font-size: 24px;
  }

  .intro_message__p {
    font-size: 12px;
  }

  .profile_image {      
    width: 200px;
    height: 250px;
  }



}

@media(max-width: 768px) {

  .introduciton {
    /* flex-direction: column; */
  }

  .intro_message__heading {
    font-size: 18px;
  }

  .profile_image {  

    box-shadow: 0 0 4px 4px hsla(0, 0%, 80%);
    width: 120px;
    height: 120px;
    
  }


}


@media(max-width: 425px) {  

  #about_me_contents {
    position: relative;
  }


  
  .intro_message__heading {
    font-size: 12px;
  }

  .intro_message__p {
    margin-top: 38px;
    min-width: 350px;
    font-size: 8px;
  }


  .profile_image {  
    position: absolute;
    top: 30%;
    right: 5%;
    box-shadow: 0 0 4px 4px hsla(0, 0%, 80%);
    width: 80px;
    height: 80px;
    
  }




}


@media(max-width: 375px) {
  .profile_image {  
    top: 40%;
    right: 10%;
  }  

  .intro_message__p {
    margin-top: 60px;    
    min-width: 270px;
  }
}

@media(max-width: 375px) {
  .profile_image {  
    /* position: absolute; */
    /* top: 30%;     */
  }  

}