
.menu_container {
  position: fixed;
  right: 0;
  top: 5px;
  height: 100%;
  /* If I set this width, hover effects are broken. */
  /* width: 110vw; */
  
}

/* Styling of overlay */
.bm-overlay {
  box-shadow: 0 0 50px 10px  rgba(0, 0, 0, 0.3);
  background: hsla(0, 0%, 0%, 0.6);
}

.bm-menu-wrap {
  box-shadow: 0 0 10px 10px  hsla(0, 0%, 80%, 0.3);
  /* border-left: 1px solid #fff; */
}


.bm-burger-button {
  position: fixed;
  /* width: 5vw; */
  width: 36px;
  height: 30px;
  right: 20px;
  top: 10px;
  text-align: center;
}

.bm-burger-button button:focus,
.bm-cross-button button:focus {
  outline: none;
}

.bm-burger-button {
  /* padding: 4px; */
  /* background: #333333; */
}
/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000;
  
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
}

/* Color/shape of close button cross */
.bm-cross {
  /* background: #fff; */
  background: #000;
}

/* General sidebar styles */
.bm-menu {
  /* background: #000; */
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  color: #000;
}

.bg-item-list:focus {
  outline: none;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}


/* Custom Divs */
.page_menu__heading {
  margin: 0;
  padding: 0;
  font-size: 40px;
  text-align: center;

  /* color: #fff; */
  color: #000;
}


.page_menu__list {

  display: flex;
  flex-direction: column;
  align-items: center;

  /* color: #fff; */
  color: #000;
}


.page_menu__item {
  margin: 8px 0;
  padding: 10px 20px;
  width: 100%;
  max-width: 200px;

  text-align: center;
  list-style-type: none;
  font-size: 24px;

  transition: all .4s ease;
}

.page_menu__item:focus {
  outline: none;
}

.page_menu__item:hover {
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
  box-shadow: 0 0 10px 10px hsl(0, 0%, 20%);
} 


