/* #portfolio {
  background-color: hsl(200, 100%, 30%);
  background-image: url('https://images.unsplash.com/photo-1529444161959-5690000911bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
} */

.portfolio_contents {
  display: flex;
  /* flex-direction: column; */
  /* flex-direction: row; */
  justify-content: center;
}




.portfolio_list_container,
.portfolio_data_container {
  padding: 40px;
  height: 80%;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;

}



.portfolio_list, 
.portfolio_image {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 90%;
  /* height: 100%; */
  height: 90%;
  /* max-height: 600px; */

} 



/* .portfolio_list_container */
.portfolio_list_container {
  flex-basis: 30%;
}


.portfolio_list {
  /* border: 1px solid #fff; */
  padding: 20px;
  border: 1px solid #000;
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */


  /* background-color: beige; */
  
}

.portfolio_list__background {
  /* margin: 14px; */
  /* padding: 20px; */
  height: 100%;
  max-height: 500px;

  /* background-color: cornflowerblue; */

  overflow: scroll;

}


.portfolio_list__item {
  /* border-bottom: 1px solid #fff; */
  border-bottom: 1px solid #000;  
  padding: 14px 0;
  /* padding-left: 8px; */
  width: 100%;
  /* text-align: center; */

  transition: all .4s ease;
}

.portfolio_list__item:hover {  
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 20%); */
  /* font-weight: bold; */
  
  cursor: pointer;
}

.portfolio_list__title,
.portfolio__heading {
  font-size: 24px;
  text-align: center;
}


.portfolio_data__title {  
  font-size: 18px;
  margin-top: 12px;
}

.portfolio_skill__name,
.visit_url {
  margin-top: 4px;
  margin-left: 8px;
  width: 150px; 

  font-size: 12px;
  color: #333;

  overflow: scroll;
}

.portfolio_skill__name {     
  background-color: ivory;
  font-weight: bold;
}

.visit_url_container { 
  text-decoration: none;
  transition: all .4s ease;
}

.visit_url {  
  padding: 4px;
  transition: all .4s ease;
}

.visit_url:hover {  
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
  font-size: 14px;
  font-weight: 900;
}



/* .portfolio_data_container*/
.portfolio_data_container {
  flex-basis: 70%;
  /* height: 100%; */
  /* flex-grow: 2; */

  /* background-color: aquamarine;  */
  overflow: scroll;
}

.portfolio__heading {
  padding: 0;
}

.explanation {
  width: 80%;
}
.user_story, 
.dev_story {
  margin-top: 8px;
  font-size: 18px;
}

.user_story__text,
.dev_story__text {
  margin-top: 18px;
  font-size: 12px;
  color: #333;
}


.portfolio_image {
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
  width: 65%;
  height: 60%;
  overflow: scroll;
}




@media(max-width: 1024px) {
  .portfolio_list_container,
  .portfolio_data_container {
    padding: 20px;
    
  }
  .portfolio_list__title,
  .portfolio__heading {
    /* padding: 100px 20px;  */
    font-size: 18px;
  }



  .portfolio_data__title {  
    font-size: 14px;
    margin-top: 12px;
  }

  .portfolio_skill__name,
  .visit_url {
    margin-top: 4px;
    margin-left: 8px;
    /* width: 100px;  */

    font-size: 8px;

  }


  .user_story, 
  .dev_story {
    margin-top: 4px;
    font-size: 12px;
  }

  .user_story__text,
  .dev_story__text {
    margin-top: 8px;
    font-size: 8px;
  }



}

@media(max-width: 768px) {


  .portfolio_list {
    margin-bottom: 20px;
    padding: 20px;
    
    /* overflow: hidden; */
  }

  .portfolio_list__background {
    /* padding: 20px 0; */
    max-height: 180px;
    /* overflow: scroll; */
  }
  .portfolio_list_container {
    /* padding: 20px 0; */
  }

  .portfolio_contents {
    
    flex-direction: column-reverse;
    
  }
  .portfolio_list__item {
    padding: 8px 0;

    /* overflow: hidden; */
  }


  .portfolio_data__title {  
    font-size: 12px;
    margin-top: 4px;
  }

  
}


@media(max-width: 425px) {
  .portfolio_list__title,
  .portfolio__heading {
    /* padding: 100px 20px;  */
    font-size: 14px;
  }

  .portfolio_list_container {
    padding-top: 10px;
  }


  .portfolio_data__title {  
    font-size: 10px;
    margin-top: 8px;
  }


  .portfolio_skill__name,
  .visit_url {
    margin-top: 4px;
    margin-left: 4px;
    font-size: 8px;

  }


  

  .user_story, 
  .dev_story {
    margin-top: 4px;
    font-size: 10px;
  }

  .user_story__text,
  .dev_story__text {
    margin-top: 4px;
    font-size: 8px;
  }




}


@media(max-width: 375px) {
  
}