

.section {
  margin-top: 100px;
  padding: 40px 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  position: relative;

  /* overflow: scroll; */
}



.section:hover {
  /* border: 1px solid #000; */
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
}

.section__heading_container {
  /* flex: 1; */

  width: 90%;
  height: 100px;

  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__heading {
  /* margin-left: 20px; */
  padding: 100px 20px; 
  width: 90%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  font-size: 80px;
  /* color: #000; */
  color: #fff;
  letter-spacing: 20px;

  text-align: center;
}


#about_me .section__heading {
  box-shadow: 0 0 10px 10px hsl(109, 85%, 23%);
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
  background-image: url('https://images.unsplash.com/photo-1465809873722-b4bf7208d2b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=942&q=80');
  /* color: hsl(109, 44%, 66%); */
  color: #fff;
} 

#skill .section__heading {  
  box-shadow: 0 0 10px 10px hsl(354, 64%, 67%);
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
  background-image: url('https://images.unsplash.com/photo-1475873326779-99eac8da25b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=933&q=80'); 
  color: #fff;
}

#portfolio .section__heading{   
  box-shadow: 0 0 10px 10px hsl(201, 85%, 21%);
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
  background-image: url('https://images.unsplash.com/photo-1529444161959-5690000911bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80'); 
  color: #fff;
}


.section__heading::first-letter {
  /* font-size: 140px; */
}


.section_contents {
  /* z-index: 10; */
  margin-top: 100px;
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
  padding: 20px 0;
  width: 90%;
  /* height: 80%; */
  /* min-height: 600px; */

  /* background-color: #000; */
  /* color: #fff;  */
  /* background-color: transparent; */
  color: #000;

  overflow: scroll;
  transition: all .4s ease;

}


.section_contents:hover {
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
}



@media(max-width: 1024px) {
  .section {
    margin-top: 100px;   
    /* width: 1024px;  */
  }

  .section__heading { 
    padding: 50px 20px; 
    font-size: 40px;
    letter-spacing: 8px;
  }

  .section_contents {
    margin-top: 50px;
  }

}

@media(max-width: 768px) {

  .section {
    /* margin-top: 20px; */
  }

  .section__heading { 
    padding: 30px 10px; 
    font-size: 24px;
    letter-spacing: 4px;
  }


  .section_contents {
    margin-top: 20px;
    padding: 8px 0;
  }

}


@media(max-width: 425px) {
  .section {
    margin-top: 10px;
    /* height: 400px; */
    overflow: scroll;
  }
  .section__heading_container {
    /* flex-direction: column; */
  }


  .section_contents {
    margin-top: 0;
  }
  

}


@media(max-width: 375px) {
  
}