
.skill_contents {

  padding: 40px;
  overflow: scroll;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skill_item {  
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
  /* border: 1px solid black; */
  margin: 12px;

  width: 150px;
  height: 150px; 

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  transition: all .4s ease;
}

.skill_item:hover {  
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
  /* width: 300px;
  height:300px; */
}

.skill__item_name {
  font-size: 24px;
}

.skill__item_icon {
  margin-top: 12px;
  width: 100px;
  height: 100px;

  opacity: 0.8;
  transition: all .4s ease;
}

.skill__item_icon:hover {
  opacity: 1;
  width:  150px;
  height: 150px;
}

.coming_soon {
  font-size: 8px;
}
