.page_list {
  padding: 40px 0;
  /* height: 100%; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .page_list {
  flex-wrap: wrap;
}

.page_list__heading {
  /* margin-bottom: 14px; */
  font-size: 24px;
  color: #000;
  text-align: center;
}

/*** .page_list__items ***/
.page_list__items {
  /* margin-top: 40px; */
  padding-top: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*** Footer **/
/*** .page_list__item ***/
.page_list__item {
  padding: 10px 20px;
  width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-position: bottom;
    /* Enables Moving BG and Stop in tweet point with Animation */
  text-decoration: none;
  font-size: 18px;
  color: #000000;

  text-align: center;

  transition: all .4s ease;
}


.page_list__item:hover {
  box-shadow: 0 0 10px 10px hsl(0, 1%, 80%);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;

  cursor: pointer;
}

.page_list__item_name {
  text-align: center;
}

/** Menu/.SECTION-NAME, Footer/.SECTION-NAME,  **/

.about_me:hover {
  background-color: hsl(100, 50%, 50%);
  background-image: url('https://images.unsplash.com/photo-1465809873722-b4bf7208d2b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=942&q=80');
  background-position: top;
}


.skill:hover {  
  background-color: hsl(0, 50%, 50%);
  background-image: url('https://images.unsplash.com/photo-1475873326779-99eac8da25b0?ixlib=rb-1.2.1&auto=format&fit=crop&w=933&q=80');
}


.portfolio:hover {
  background-color: hsl(200, 50%, 50%);
  background-image: url('https://images.unsplash.com/photo-1529444161959-5690000911bc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80');
}


/** Footer/.contact **/
.contact .page_list__item {
  margin: 0px;
  padding: 10px;
  width: 200px;
  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #000;

  transition: all .4s ease;
}

.contact .page_list__item:hover {  
  color: #000;
}


.contact .page_list__item_name.resume  a {
  text-decoration: none;
  color: #000;
}

.contact .page_list__item i {
  margin-top: 4px;
  font-size: 40px;
  color: hsl(0, 0%, 60%);

  transition: all .4s ease;
}

.contact .page_list__item.github i:hover {
  color: #4078c0;
}
.contact .page_list__item.linkedin i:hover {
  color: #0077b5;
}



.contact .page_list__item {
  margin: 0px;
  padding: 10px;
  width: 200px;
  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #000;

  transition: all .4s ease;
}




@media(max-width: 1024px) {
  
}

@media(max-width: 768px) {
  .page_list {
    padding: 0px;
  }

  .page_list__heading {
    font-size: 24px; 
  }

  .page_list__items {
    /* margin-top: 10px; */
    padding-top: 15px;    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .page_list__item { 
    padding: 12px 14px;
    width: 300px;
    font-size: 16px;    
  }

  /* Footer */

  .contact .page_list__item i {
    font-size: 24px;
  }


}

@media(max-width: 425px) {
  
  .page_list__heading {
    font-size: 18px; 
  }


  .page_list__item {
    padding: 8px 8px;
    width: 200px;
    font-size: 12px;    
  }

  

  /** Footer **/
  
    .contact .page_list__item {      
      padding: 4px;  
    }
   
  
    .contact .page_list__item i {
      font-size: 18px;  
    }
  
  


}


@media(max-width: 375px) {
  
}