

.portfolio_image {
  /* margin-top: 
20px; */
  /* padding: 18px 0;
  width: 80%;
  
  background-image: url('../assets/portfolio-image/beat-box.png');
  background-position: center; 
  background-size: cover;
  overflow: scroll; */

}


#portfolio_iframe {
  /* zoom: 0.1; */
  /* -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0; */
}