<!DOCTYPE html>

<html>
  <head>
    <title>My Committment Record</title>
    <link rel="stylesheet" href="styles/general.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/committment-record.css">
  </head>
  <body>
    <header>
      <div id="left-header">
        <p>Welcome!</p>
      </div>

      <div id="right-header">
        <nav id="main-nav">
          <ul>
            <li><a href="my-portfolio-site/home_index.html">HOME</a></li>
            <!-- <li><a href="my_tempalate.html">MY TEMPLATES</a></li>
            <li><a href="my_personal.html">MY PERSONAL</a></li> -->
          </ul>
        </nav>
      </div>
    </header>
    <div id="container">
    

    </p>
      <div id="calendar" id="month-year">
        <p>MONTH YEAR</p>

       
          
      </p>
        <table>
          <!-- <caption>Calendar</caption> -->
          <!-- <caption><p>MONTH</p><p>YEAR</p></caption> -->
          <thead>
            <!-- <tr><th colspan="7">YEAR</th></tr>
            <tr><th colspan="7">MONTH</th></tr> -->
            <tr>               
              <th>Mon</th>
              <th>Tues</th>
              <th>Wed</th>
              <th>Thur</th>
              <th>Fri</th>
              <th>Sat</th>
              <th class="sunday">Sun</th>             
            </tr>
          </thead>
          <tbody>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week DATE.MONTH.YEAR to DATE.MONTH.YEAR:  <span> / 10 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div> 
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
                
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>


      <div id="calendar" id="month-year">
        <p>January 2021</p>

       
          
      </p>
        <table>
          <!-- <caption>Calendar</caption> -->
          <!-- <caption><p>MONTH</p><p>YEAR</p></caption> -->
          <thead>
            <!-- <tr><th colspan="7">YEAR</th></tr>
            <tr><th colspan="7">MONTH</th></tr> -->
            <tr>               
              <th>Mon</th>
              <th>Tues</th>
              <th>Wed</th>
              <th>Thur</th>
              <th>Fri</th>
              <th>Sat</th>
              <th class="sunday">Sun</th>             
            </tr>
          </thead>
          <tbody>

            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2021.01.11-2021.01.17  <span> / 10 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 11 (Deep Workday)</h1>
                <p> 3:14 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div> 
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
                
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week: 2021.01.04-2021.01.10  <span> 13:53 2:45/ 10 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 04 (Deep Workday)</h1>
                <p> 2:45 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div> 
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1> 05 (Deep Workday)</h1>
                <p> 2:41 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div> 
              </td>
              <td>
                <h1> 06 (Deep Workday)</h1>
                <p> 2:21 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1> 07 (Deep Workday)</h1>
                <p> 3:11 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1> 2:45 (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
                
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>

      <div id="calendar" id="12-2020">
        <p>December 2020</p>
        <table>
          <!-- <caption>Calendar</caption> -->
          <!-- <caption><p>MONTH</p><p>YEAR</p></caption> -->
          <thead>
            <!-- <tr><th colspan="7">YEAR</th></tr>
            <tr><th colspan="7">MONTH</th></tr> -->
            <tr>               
              <th>Mon</th>
              <th>Tues</th>
              <th>Wed</th>
              <th>Thur</th>
              <th>Fri</th>
              <th>Sat</th>
              <th class="sunday">Sun</th>             
            </tr>
          </thead>
          <tbody>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.12.28-2021.01.03:  <span> 7:49 / 10 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 28 (Deep Workday)</h1>
                <p> 2:30 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1> 29 (Deep Workday)</h1>
                <p> 2:49 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div> 
              </td>
              <td>
                <h1> 30 (Deep Workday)</h1>
                <p> 2:30 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
                
              </td>
            </tr>
            
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.12.21-2020.12.27:  <span> 10:48 / 10 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 21 (Deep Workday)</h1>
                <p> 2:13 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : I understood how to update State using updater Arg in sertState()
                  : I understood about the output of Shallow and Deep Merging. 
                  : Without Deep Work, i would have spent 6-8 hours including rest. 
                </div>
              </td>
              <td>
                <h1> 22 (Deep Workday)</h1>
                <p> 2:30 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : I understood more about the setState()
                  : The quality sounded low.
                  There were time I was Blank or was not sure what to do. 
                </div> 
              </td>
              <td>
                <h1> 23 (Deep Workday)</h1>
                <p> 2:20 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1> 24 (Deep Workday)</h1>
                <p> 2:15 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1> 25 (Deep Workday)</h1>
                <p> 2:30 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
                
              </td>
            </tr>
            
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.12.14-2020.12.20:  <span> 9:59 / 10 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 14 (Deep Workday)</h1>
                <p> 1:40 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : I FINALLY Cleared the Input and From Scratch Task for the Menu Project! I've spent 1 month or the like includoing the  this Keyword and Execution Context,... other Knowledge or Technical Facts. Such a Fruitful Project it was. 
                  : I spent like 1 hour for Optimization. 
                  : Morning Focus and Necessity Record of my Condition. 
                  : Had Fun and Progress as a Devloper. 
                </div>
              </td>
              <td>
                <h1> 15 (Deep Workday)</h1>
                <p> 2:05/ 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : I cleared the Menu and Menu Button. 
                  It sounded easier than what it used be as a Problem Solving. Growth. 
                </div> 
              </td>
              <td>
                <h1> 16 (Deep Workday)</h1>
                <p> 1:35 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : My Deliberation was low. (Would be because of Workout), so I end up DW at 22:30.
                  => I set a rule to take 1.5 hours napping AFTER WORKOUT. Which is the GAIN. 
                  : I was able to UPDATE the NOTE for RESEARCH. ABout Test and Case distinguishing. 
                  Also, DIVIDED Research Task into How and Why & How .
                </div>
              </td>
              <td>
                <h1> 17 (Deep Workday)</h1>
                <p> 2:05 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : I was able to clear the giving REASONS for the Solution of the Issue. 
                  : Focused deepest in the recent tiems. 
                </div>
              </td>
              <td>
                <h1> 18 (Deep Workday)</h1>
                <p> 2:34 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : Fun!
                  : Well done!
                  : Done the portfolio icons!
                  : Solve the git issue!
                  : Fun!!
                </div>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
                
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.11.30-2020.12.05:  <span> 8:06 / 15 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 30 (Deep Workday)</h1>
                <p> 1:09 / 3-4 hours </p>
              </td>
              <td>
                <h1> 01 (Deep Workday)</h1>
                <p> 1:05 / 3-4 hours </p>
              </td>
              <td>
                <h1> 02 (Deep Workday)</h1>
                <p> 1:46 / 3-4 hours </p>
              </td>
              <td>
                <h1> 03 (Deep Workday)</h1>
                <p> 1:42 / 3-4 hours </p>
              </td>
              <td>
                <h1> 04 (Deep Workday)</h1>
                <p> 2:24 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.12.07-2020.12.13:  <span> 7:20 / 15 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 07 (Deep Workday)</h1>
                <p> 1:30 / 3-4 hours </p>
              </td>
              <td>
                <h1> 08 (Deep Workday)</h1>
                <p> 2:30 / 3-4 hours </p>
              </td>
              <td>
                <h1> 09 (Deep Workday)</h1>
                <p> 2:00 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1> 10 (Deep Workday)</h1>
                <p> 0:05 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : I met an Issue in MacBook Storage and Solved it which took like 2 hours.
                  Since, I've been suffering and suspending the issue for the last few months, the solution was such a quantum leap to me from another aspect. Well done! 
                  : I met an Issue from Evernote Update and Spent some time on Sending Feedbacks to Evernote to ask for RESTORATION of features.
                  I Judged it is acceptable from LONG TERM view, because I LOST some CORE SYSTEM of my Note Taking in Evernote becaus eof the LSOT Feature, so the RESTORATION of it will REVIVE my efficeincy and will CUT OFF more time than what I spent today like 30 mins. 
                  : Althoug, I slept only 6 hours and Plus 1.5 hours Napping, meaning less Effective Sleep, the Focus sounded good.
                  Actually, the Delieberation and Control of Attention sounded not that good comparing to the other days, but the CONGNITION would have been Restored by NAPPING. 
                </div>
              </td>
              <td>
                <h1> 12 (Deep Workday)</h1>
                <p> 1:15 / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : I spent 30 mins to deal with the Updated Evernote Issue. 
                  : I was able to clear from-scratch of the Menu. 
                </div>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> / 3-4 hours </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
              <td>
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
                <p>Daily Progress</p>
                <div>
                  : PROGRESS.
                </div>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>

      <div id="calendar" id="10-2020">
        <p>Nov, 2020</p>
        <table>
          <!-- <caption>Calendar</caption> -->
          <!-- <caption><p>MONTH</p><p>YEAR</p></caption> -->
          <thead>
            <!-- <tr><th colspan="7">YEAR</th></tr>
            <tr><th colspan="7">MONTH</th></tr> -->
            <tr>               
              <th>Mon</th>
              <th>Tues</th>
              <th>Wed</th>
              <th>Thur</th>
              <th>Fri</th>
              <th>Sat</th>
              <th class="sunday">Sun</th>             
            </tr>
          </thead>
          <tbody>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.11.02-2020.11.08:  <span> 17:58 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 02 (Deep Workday)</h1>
                <p> 3:23 / 3-4 hours </p>
              </td>
              <td>
                <h1> 03 (Deep Workday)</h1>
                <p> 3:00 / 3-4 hours </p>
              </td>
              <td>
                <h1> 04 (Deep Workday)</h1>
                <p>  / 3-4 hours </p>
              </td>
              <td>
                <h1> 05 (Deep Workday)</h1>
                <p> 2:04 / 3-4 hours </p>
              </td>
              <td>
                <h1> 06 (Shallow Workday)</h1>
                <p> 3:01 / 3-4 hours </p>
              </td>
              <td>
                <h1> 07 (Shallow Workday)</h1>
                <p> 2:47 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.11.09-2020.11.15:  <span> 15:28 / 15 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 09 (Deep Workday)</h1>
                <p> 3:05 / 3-4 hours </p>
              </td>
              <td>
                <h1> 10 (Deep Workday)</h1>
                <p> 2:05 / 3-4 hours </p>
              </td>
              <td>
                <h1> 11 (Deep Workday)</h1>
                <p> 2:52/ 3-4 hours </p>
              </td>
              <td>
                <h1> 12 (Deep Workday)</h1>
                <p> 3:08 / 3-4 hours </p>
              </td>
              <td>
                <h1> 13 (Shallow Workday)</h1>
                <p> 2:18 / 3-4 hours </p>
              </td>
              <td>
                <h1> 14 (Shallow Workday)</h1>
                <p> 2:00 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.11.16-2020.11.22:  <span> 18:51 / 15 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 16 (Deep Workday)</h1>
                <p> 2:07/ 3-4 hours </p>
              </td>
              <td>
                <h1> 17 (Deep Workday)</h1>
                <p> 3:04 / 3-4 hours </p>
              </td>
              <td>
                <h1> 18 (Deep Workday)</h1>
                <p> 5:30 / 3-4 hours </p>
              </td>
              <td>
                <h1> 19 (Deep Workday)</h1>
                <p> 2:50 / 3-4 hours </p>
              </td>
              <td>
                <h1> 20 (Deep Workday)</h1>
                <p> 2:20 / 3-4 hours </p>
              </td>
              <td>
                <h1> 21 (Shallow Workday)</h1>
                <p> 3:00 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.11.23-2020.11.29:  <span> 11:06 / 15 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 23 (Deep Workday)</h1>
                <p> 2:44 / 3-4 hours </p>
              </td>
              <td>
                <h1> 24 (Deep Workday)</h1>
                <p> 3:00 / 3-4 hours </p>
              </td>
              <td>
                <h1> 25 (Deep Workday)</h1>
                <p> 2:08 / 3-4 hours </p>
              </td>
              <td>
                <h1> 26 (Deep Workday)</h1>
                <p> 1:40 / 3-4 hours </p>
              </td>
              <td>
                <h1> 27 (Deep Workday)</h1>
                <p> 1:07 / 3-4 hours </p>
              </td>
              <td>
                <h1> 28 (Shallow Workday)</h1>
                <p> 0:27 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>

      <div id="calendar" id="10-2020">
        <p>October, 2020</p>
        <table>
          <!-- <caption>Calendar</caption> -->
          <!-- <caption><p>MONTH</p><p>YEAR</p></caption> -->
          <thead>
            <!-- <tr><th colspan="7">YEAR</th></tr>
            <tr><th colspan="7">MONTH</th></tr> -->
            <tr>               
              <th>Mon</th>
              <th>Tues</th>
              <th>Wed</th>
              <th>Thur</th>
              <th>Fri</th>
              <th>Sat</th>
              <th class="sunday">Sun</th>             
            </tr>
          </thead>
          <tbody>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.10.05-2020.10.11:  <span> 20:15 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 05 (Deep Workday)</h1>
                <p> 3:02 / 3-4 hours </p>
              </td>
              <td>
                <h1> 06 (Deep Workday)</h1>
                <p> 3:10 / 3-4 hours </p>
              </td>
              <td>
                <h1> 07 (Deep Workday)</h1>
                <p> 3:06 / 3-4 hours </p>
              </td>
              <td>
                <h1> 08 (Deep Workday)</h1>
                <p> 3:36 / 3-4 hours </p>
              </td>
              <td>
                <h1> 09 (Shallow Workday)</h1>
                <p> 3:20 / 3-4 hours </p>
              </td>
              <td>
                <h1> 10 (Shallow Workday)</h1>
                <p> 2:46 / 3-4 hours </p>
              </td>
              <td>
                <h1> 11 (Shallow Workday)</h1>
                <p> 1:15 / 3-4 hours  </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.10.05-2020.10.11:  <span> 20:15 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 05 (Deep Workday)</h1>
                <p> 3:02 / 3-4 hours </p>
              </td>
              <td>
                <h1> 06 (Deep Workday)</h1>
                <p> 3:10 / 3-4 hours </p>
              </td>
              <td>
                <h1> 07 (Deep Workday)</h1>
                <p> 3:06 / 3-4 hours </p>
              </td>
              <td>
                <h1> 08 (Deep Workday)</h1>
                <p> 3:36 / 3-4 hours </p>
              </td>
              <td>
                <h1> 09 (Shallow Workday)</h1>
                <p> 3:20 / 3-4 hours </p>
              </td>
              <td>
                <h1> 10 (Shallow Workday)</h1>
                <p> 2:46 / 3-4 hours </p>
              </td>
              <td>
                <h1> 11 (Shallow Workday)</h1>
                <p> 1:15 / 3-4 hours  </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.10.12-2020.10.18  <span> 20:04 / 20:00</span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 12 (Deep Workday)</h1>
                <p> 3:00 / 3-4 hours </p>
              </td>
              <td>
                <h1> 13 (Deep Workday)</h1>
                <p> 2:20 / 3-4 hours </p>
              </td>
              <td>
                <h1> 14 (Deep Workday)</h1>
                <p> 3:07 / 3-4 hours </p>
              </td>
              <td>
                <h1> 15 (Deep Workday)</h1>
                <p> 3:15 / 3-4 hours </p>
              </td>
              <td>
                <h1> 16 (Shallow Workday)</h1>
                <p>  3:02 / 3-4 hours </p>
              </td>
              <td>
                <h1> 17 (Shallow Workday)</h1>
                <p> 3:00 / 3-4 hours </p>
              </td>
              <td>
                <h1> 18 (Shallow Workday)</h1>
                <p> 2:20 </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.10.19-2020.10.25:  <span> 20:03 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 19 (Deep Workday)</h1>
                <p> 3:25 / 3-4 hours </p>
              </td>
              <td>
                <h1> 20 (Deep Workday)</h1>
                <p> 4:00 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.10.26-2020.11.01:  <span> 19:34 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 26 (Deep Workday)</h1>
                <p> 3:01 / 3-4 hours </p>
              </td>
              <td>
                <h1> 27 (Deep Workday)</h1>
                <p> 3:10 / 3-4 hours </p>
              </td>
              <td>
                <h1> 28 (Deep Workday)</h1>
                <p> 3:03 / 3-4 hours </p>
              </td>
              <td>
                <h1> 29 (Deep Workday)</h1>
                <p> 3:06 / 3-4 hours </p>
              </td>
              <td>
                <h1> 30 (Shallow Workday)</h1>
                <p> 3:05 / 3-4 hours </p>
              </td>
              <td>
                <h1> 31 (Shallow Workday)</h1>
                <p> 4:09 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


      <div id="calendar" id="2020-09">
        <p>September, 2020</p>
        <table>
          <!-- <caption>Calendar</caption> -->
          <!-- <caption><p>MONTH</p><p>YEAR</p></caption> -->
          <thead>
            <!-- <tr><th colspan="7">YEAR</th></tr>
            <tr><th colspan="7">MONTH</th></tr> -->
            <tr>               
              <th>Mon</th>
              <th>Tues</th>
              <th>Wed</th>
              <th>Thur</th>
              <th>Fri</th>
              <th>Sat</th>
              <th class="sunday">Sun</th>             
            </tr>
          </thead>
          <tbody>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.08.31-09.05:  <span> 10:47 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1>31 (Deep Workday)</h1>
                <p> 3:26 / 3-4 hours </p>
              </td>
              <td>
                <h1> 01 (Deep Workday)</h1>
                <p> 3:31 / 3-4 hours </p>
              </td>
              <td>
                <h1>02 (Deep Workday)</h1>
                <p> 3:30 / 3-4 hours </p>
              </td>
              <td>
                <h1>03 (Deep Workday)</h1>
                <p> 0:10 / 3-4 hours </p>
              </td>
              <td>
                <h1>04 (Shallow Workday)</h1>
                <p> 0:10 / 3-4 hours </p>
              </td>
              <td>
                <h1>05 (Shallow Workday)</h1>
                <p> 2:06 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.09.07 to 2020.09.13:  <span> 19:59 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 07 (Deep Workday)</h1>
                <p> 3:20 / 3-4 hours </p>
              </td>
              <td>
                <h1> 08 (Deep Workday)</h1>
                <p> 3:15 / 3-4 hours </p>
              </td>
              <td>
                <h1> 09 (Deep Workday)</h1>
                <p> 3:22 / 3-4 hours </p>
              </td>
              <td>
                <h1> 10 (Deep Workday)</h1>
                <p> 3:10 / 3-4 hours </p>
              </td>
              <td>
                <h1> 11 (Shallow Workday)</h1>
                <p> 3:11 / 3-4 hours </p>
              </td>
              <td>
                <h1> 12(Shallow Workday)</h1>
                <p> 3:41 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.09.14-2020.09.20:  <span> 21:05 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 14 (Deep Workday)</h1>
                <p> 3:53 / 3-4 hours </p>
              </td>
              <td>
                <h1> 15 (Deep Workday)</h1>
                <p> 3:23 / 3-4 hours </p>
              </td>
              <td>
                <h1> 16 (Deep Workday)</h1>
                <p> 3:26 / 3-4 hours </p>
              </td>
              <td>
                <h1> 17 (Deep Workday)</h1>
                <p> 3:10 / 3-4 hours </p>
              </td>
              <td>
                <h1> 18 (Shallow Workday)</h1>
                <p> 3:38 / 3-4 hours </p>
              </td>
              <td>
                <h1> 19 (Shallow Workday)</h1>
                <p> 3:35 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.09.21-2020.09.27:  <span> 20:54 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 21 (Workday)</h1>
                <p> 3:17 / 3-4 hours </p>
              </td>
              <td>
                <h1> 22 (Workday)</h1>
                <p> 3:17 / 3-4 hours </p>
              </td>
              <td>
                <h1> 23 (Workday)</h1>
                <p> 3:25 / 3-4 hours </p>
              </td>
              <td>
                <h1> 24 (Workday)</h1>
                <p> 3:11 / 3-4 hours </p>
              </td>
              <td>
                <h1> 25 (Workday)</h1>
                <p> 3:44 / 3-4 hours </p>
              </td>
              <td>
                <h1> 26 (Workday)</h1>
                <p> 4:00 / 3-4 hours </p>
              </td>
              <td class="sunday">
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>

            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.09.28-2020.10.04:  <span> 25:03 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">              
              <td>
                <h1> 28 (Deep Workday)</h1>
                <p> 3:22 / 3-4 hours </p>
              </td>
              <td>
                <h1> 29 (Deep Workday)</h1>
                <p> 3:18 / 3-4 hours </p>
              </td>
              <td>
                <h1> 30 (Deep Workday)</h1>
                <p> 4:36 / 3-4 hours </p>
              </td>
              <td>
                <h1> 01 (Deep Workday)</h1>
                <p> 3:30 / 3-4 hours </p>
              </td>
              <td>
                <h1> 02 (Shallow Workday)</h1>
                <p> 3:53 / 3-4 hours </p>
              </td>
              <td>
                <h1> 03 (Shallow Workday)</h1>
                <p> 6:24 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>
            
          </tbody>
        </table>
      </div>

      <div id="calendar" id="2020-08">
        <p>2020-08</p>
        <table>
          <!-- <caption>Calendar</caption> -->
          <!-- <caption><p>MONTH</p><p>YEAR</p></caption> -->
          <thead>
            <!-- <tr><th colspan="7">YEAR</th></tr>
            <tr><th colspan="7">MONTH</th></tr> -->
            <tr>                    
              <th>Mon</th>
              <th>Tues</th>
              <th>Wed</th>
              <th>Thur</th>
              <th>Fri</th>
              <th>Sat</th>
              <th class="sunday">Sun</th>        
            </tr>
          </thead>
          <tbody>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week DATE.MONTH.YEAR to DATE.MONTH.YEAR:  <span> / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">
              <td class="sunday">
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
              <td>
                <h1>DATE (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.08.10-2020.08.16:  <span> 20:16 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">
              <td class="sunday">
                <h1>DATE (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
              <td>
                <h1>10 (Workday)</h1>
                <p> 3:16 / 3-4 hours </p>
              </td>
              <td>
                <h1>11 (Workday)</h1>
                <p> 3:21 / 3-4 hours </p>
              </td>
              <td>
                <h1>12 (Workday)</h1>
                <p> 3:10 / 3-4 hours </p>
              </td>
              <td>
                <h1>13 (Workday)</h1>
                <p> 3:18 / 3-4 hours </p>
              </td>
              <td>
                <h1>14 (Workday)</h1>
                <p> 3:30 / 3-4 hours </p>
              </td>
              <td>
                <h1>15 (Workday)</h1>
                <p> 3:41 / 3-4 hours </p>
              </td>
              <td class="sunday">
                <h1>16 (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
              <td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 2020.08.16-2020.08.22:  <span> 22:09 / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">   
              <td>
                <h1>17 (Workday)</h1>
                <p> 3:02 / 3-4 hours </p>
              </td>
              <td>
                <h1>18 (Workday)</h1>
                <p> 3:11 / 3-4 hours </p>
              </td>
              <td>
                <h1>19 (Workday)</h1>
                <p> 3:15 / 3-4 hours </p>
              </td>
              <td>
                <h1>20 (Workday)</h1>
                <p> 3:36 / 3-4 hours </p>
              </td>
              <td>
                <h1>21 (Workday)</h1>
                <p> 3:39 / 3-4 hours </p>
              </td>
              <td>
                <h1>22 (Workday)</h1>
                <p> 3:36/ 3-4 hours </p>
              </td>
              <td class="sunday">
                <h1>23 (Day Off)</h1>
                <p> 1:50 </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week DATE.MONTH.YEAR to DATE.MONTH.YEAR:  <span> 20:49 / 20 hours </span> </p>
              </td>

            </tr>
            <tr id="daily-row">              
              <td>
                <h1>24 (Deep Workday)</h1>
                <p> 3:40 / 3-4 hours </p>
              </td>
              <td>
                <h1>25 (Deep Workday)</h1>
                <p> 3:34 / 3-4 hours </p>
              </td>
              <td>
                <h1>26 (Deep Workday)</h1>
                <p> 4:00 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Deep Workday)</h1>
                <p> 3:00 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> 3:14 / 3-4 hours </p>
              </td>
              <td>
                <h1>DATE (Shallow Workday)</h1>
                <p> 3:21 / 3-4 hours </p>
              </td>
              <td class="sunday">
                <h1>DATE (Shallow Workday)</h1>
                <p> Play hard ! </p>
              </td>
            </tr>        
            <tr></tr>
          </tbody>
        </table>
      </div>


      <div id="calendar" id="February-2020">
        <p>February 2020</p>
        <table>
          <!-- <caption>Calendar</caption> -->
          <!-- <caption><p>MONTH</p><p>YEAR</p></caption> -->
          <thead>
            <!-- <tr><th colspan="7">YEAR</th></tr>
            <tr><th colspan="7">MONTH</th></tr> -->
            <tr>
              <th class="sunday">Sun</th>
              <th>Mon</th>
              <th>Tues</th>
              <th>Wed</th>
              <th>Thur</th>
              <th>Fri</th>
              <th>Sat</th>
            </tr>
          </thead>
          <tbody>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 03.02.2020 to 09.02.2020:  <span> / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">
              <td class="sunday">
                <h1>2 (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
              <td>
                <h1>3 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>4 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>5 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>6 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>7 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>8 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 10.02.2020 to 16.02.2020:  <span> / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">
              <td class="sunday">
                <h1>9 (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
              <td>
                <h1>10 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>11 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>12 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>13 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>14 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>15 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 17.02.2020 to 23.02.2020:  <span> / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">
              <td class="sunday">
                <h1>16 (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
              <td>
                <h1>17 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>18 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>19 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>20 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>21 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>22 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 24.02.2020 to 01.03.2020:  <span> / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">
              <td class="sunday">
                <h1>23 (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
              <td>
                <h1>24 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>25 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>26 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>27 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>28 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>29 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
            </tr>
            <tr id="weekly-row">
              <td colspan="7">
                <p>Week 02.03.2020 to 08.03.2020:  <span> / 20 hours </span> </p>
              </td>
            </tr>
            <tr id="daily-row">
              <td class="sunday">
                <h1>1 (Day Off)</h1>
                <p> Play hard ! </p>
              </td>
              <td>
                <h1>2 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>3 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>4 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>5 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>6 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
              <td>
                <h1>7 (Workday)</h1>
                <p> / 3-4 hours </p>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
    </div>

    <footer>
      <div id="info-table">
        
        <nav id="fry-back">
          <ul>
            <li><a href="#self-introduction">Introduction</a></li>
            <li><a href="#">HAHA</a></li>
          </ul>
        </nav>
        
        <nav id="contact">
          <ul>
            <li><a href="#">Tell: </a></li>
            <li><a href="mailto:snz@gmail.com" target="_blank">Email: </a></li>
          </ul>
        </nav>

      </div>

      <div id="horizontal-line"></div>

      <p>
        &copy; All rights reserved.
      </p>
    </footer>


  </body>
</html>