
.public_commitment_container {
  padding: 20px;
  height: 100%;

}
.record {
  padding: 20px;
  width: 60%;
  
  display: flex;
  flex-direction: column;
}

.collection-select,
.collection-input,
.collection-button {
  margin-top: 10px;
  width: 300px;
}

.weeklyDWTime__title {
  font-size: 36px;
}

.weeklyDWTimeTotal {
  margin-top: 20px;
}

.desc {
  padding: 20px 0;
  font-size: 16px;
}

.desc_title {
  margin-top: 20px;
  font-size: 24px;
}

.desc_item {
  margin-top: 14px;
}

.annotation {
  padding: 10px 0;
  font-size: 12px;
}



@media(max-width: 1024px) {
  
  .weeklyDWTime__title {
    font-size: 24px;
  }


  .desc {
    padding: 20px 0;
    font-size: 12px;
  }


  .desc_title {
    /* margin-top: 20px; */
    font-size: 18px;
  }
  
  .desc_item {
    font-size: 12px;
  } 
  
}

@media(max-width: 425px) {

  .weeklyDWTime__title {
    font-size: 18px;
  } 


  .desc {
    padding: 10px 0;
    font-size: 10px;
  }


  .desc_title {
    /* margin-top: 20px; */
    font-size: 14px;
  }
  
  .desc_item {
    font-size: 10px;
  } 


}