.about_me {
  /* box-shadow: 0 0 10px 10px hsl(0, 0%, 80%); */
}
.about_me_contents {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.about_me__h2 {
  min-width: 250px;
  text-align: center;
  font-size: 30px;
}

.introduciton {
  flex: 2;
}

.contact {
  flex: 1;

  padding: 0 40px;

  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  justify-content: center;
  align-items: center;

  overflow: scroll;
}


.contact__item {
  padding: 10px 0;
  width: 200px;
  text-align: center;
  transition: all .4s ease;
}

.contact__item:hover {
  box-shadow: 0 0 10px 10px hsl(0, 0%, 80%);
}

.contact__item a {
  text-decoration: none;
  font-size: 18px;
  color: #333333;
}

